<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin options</title>
    <style>    a {
        display: inline-block;
        margin-top: 20px;
        text-decoration: none;
        background-color: rosybrown;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.2s ease;
    }

    a:hover {
        background-color: #c35757;
    }
    </style>
</head>
<body>
<h3 style="font-family: sans-serif; color: darkolivegreen">Please choose the option</h3>
<a href="/orders">Orders</a>
<a href="/new">New product</a>
</body>
</html>