<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choice</title>
</head>
<body>
<h3 style="font-family: sans-serif; color: darkolivegreen">Please choose your role</h3>
<form method="post" action="http://localhost:8080/index">

  <label><input type="radio" name="choice" value="admin"> Admin</label><br>
  <label><input type="radio" name="choice" value="user"> User</label><br>
  <br>
  <input type="submit" value="Proceed">
</form>
</body>
</html>

</body>
</html>