<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New product</title>
</head>
<body>
<h3>New product</h3>
<form th:action="@{/new}" method="post" th:object="${product}">
    Name: <input type="text" th:field="*{name}" /> </br>
    Category: <input type="text" th:field="*{category}" /><br/>
    Weight: <input type="text" th:field="*{weight}" value="0" /><br/>
    Price per kg: <input type="text" th:field="*{pricePerKg}" value="0"  />
    <input type="submit" value="New product"/>
</form>
</body>
</html>