<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<!---------------------NAVBAR--------------------->
<nav class="navbar">
    <a class="navbar-brand" href="#">FoodStore</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Cart</a>
        </li>
    </ul>
</nav>
<!--------------------WIDGETS--------------------->
<div class="page-layout">
<!--------------------Produkter------------------->
    <div class="widget-product-container">
        <div class="widget-product-grid">
            <div th:each="p : ${products}" class="product-box">
                <h2 th:text="${p.getName()}"></h2>
                <p th:text="'Price (kg): ' + ${p.getPricePerKg()}"></p>
                <input type="text" class="quantity-input" value="0" />
                <button class="add-button">Add to cart</button>
            </div>
        </div>
    </div>
<!---------------------Varukorg------------------->
    <div class="widget-cart">
        <p>Varukorg</p>
    </div>
</div>
</body>
</html>
