<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<!---------------------NAVBAR--------------------->
<nav class="navbar">
    <a class="navbar-brand" href="#">FoodStore</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Cart</a>
        </li>
    </ul>
</nav>
<!--------------------WIDGETS--------------------->
<div class="page-layout">
<!--------------------Produkter------------------->
    <div class="widget-product-container">
        <div class="widget-product-grid">
            <div th:each="p : ${products}" class="product-box">
                <h2 th:text="${p.getName()}"></h2>
                <p th:text="'Price (kg): ' + ${p.getPricePerKg()}"></p>
                <form th:action="@{add-product}" method="post">
                    <input type="hidden" name="productId" th:value="${p.getId()}">
                    <input type="hidden" name="productName" th:value="${p.getName()}"/>
                    <input type="hidden" name="price" th:value="${p.getPricePerKg()}"/>
                    <input type="number" name="quantity" class="quantity-input" value="0" />
                    <button class="add-button">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
<!---------------------Varukorg------------------->

    <div class="cart-box">
        <ul class="cart-item-head">
            <li >Item</li>
            <li>Quantity</li>
            <li>Price</li>
        </ul>
        <ul th:each="c : ${cartProductList}" class="cart-item-card">
            <li th:text="${c.getProductName()}" class="cart-item-field"></li>
            <li th:text="${c.getQuantity()}" class="cart-item-field"></li>
            <li th:text="${c.getPrice()}" class="cart-item-field"></li>
        </ul>


        <form>
            <button type="submit" formaction="/placeorder" class="order-btn">Place Order</button>
        </form>

    </div>

</div>
</body>
</html>
