body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    font-family: Arial, sans-serif;
}
/* ----------------------------------------------------------------NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #fff;
    color: rgba(51, 51, 51, 0.53);
}

/*#cartToggle {*/
/*    display: none;*/
/*}*/
/*#cartToggle:target {*/
/*    display: block;*/
/*}*/
/* -------------------------------------------------------------CONTAINER */

.page-layout {
    display: flex;
}
/* ----------------------------------------------------WIDGET - produkter */

.widget-product-container {
    max-width: 800px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
}

.widget-product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 167, 204, 0.14);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
    transition: background-color 0.1s ease;
}

.quantity-input {
    width: 30px;
    margin: 10px;
    border-radius: 2px;
}

.add-button {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #33a7cc;
    cursor: pointer;
    margin: 4px 2px;
    transition: background-color 0.1s ease;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}
/* -----------------------------------------------------WIDGET - varukorg */

.widget-cart-container {
    display: inline-list-item;
    flex-direction: column;
    width: 600px;
    hight: 300px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
}

.cart-box {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
    margin-left: 10px;
    height: fit-content;
}

.order-btn {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #33a7cc;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.1s ease;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

.cart-item-card {
    display:grid;
    grid-auto-flow: column;
    background-color: rgba(51, 167, 204, 0.14);

    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;

    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
}

.cart-item-head {
    display:grid;
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    grid-auto-flow: column;
    border-radius: 10px;
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px
}

.cart-item-field {
    display: block;
}

li:nth-child(1) {
    margin-left: 10px;

}

li:nth-child(2) {
    margin-left: 100px;
    margin-right: 100px;
}
li:nth-child(3) {
    margin-right: 10px;

}

.delete-button {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 6px;
    border-radius: 10px;
    background-color: #ee5a5f;
    cursor: pointer;
    transition: background-color 0.1s ease;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

.delete-button-component {
    display: block;
    width: 7px;
    height: 3px;
    background-color: rgba(51, 51, 51, 0.71);
}

.box:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
    background-color: rgba(51, 167, 204, 0.26);
}

.add-button:hover, .order-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.43);
}
.add-button:active, .order-btn:active {
    transform: translateY(3px);
}